@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
/* === Global defaults === */
html, body, #root {
  height: 100vmax;
  width: 100vmax;
}
/* Body styles using direct CSS values */
body {
  background-color: #3B3B3B;
  color: #e5e2e2;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
h1 {
  justify-self: center;
  background-color: #0B2213;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  text-align: center;
  text-indent: 1em;
  border: 2px solid #FFC837;
  margin-bottom: 20px;
  margin-top: 20px;
}
a {
  transition: color 0.2s;
  margin-bottom: 20px;
}
a img {
  width: 20px;
  height: 20px;
}
.dash {
  width: 75%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #16171C;
  background-position: auto;
  display: stretch;
  justify-content: flex;
  color: #fff;
  border-radius: 10px;
  border: 2px ridge #6877D8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-list {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
}
.card {
  width: 57%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1a1a1a;
  background-position: auto;
  justify-content: auto;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-content {
  display: flex;
  text-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
  width: 25%;
  padding: 20px;
}
.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.card-description {
  font-size: 16px;
  margin-bottom: 10px;
}
/* Bubbly link/button component */
.bubbly-link {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 0.2rem 1rem;
  border: 3.14px ridge rgba(59, 68, 75, 0.623);
  border-radius: 5rem;
  font-weight: 1000;
  font-size:x-large;
  color: rgba(255, 255, 255, 0.8);
  background-color: #085FAE;
  box-shadow: 5 4px 6px rgba(19, 19, 19, 0.329);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.bubbly-link:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.bubbly-link:active {
  transform: scale(0.95);
}
.caption {
  justify-self: center;
  background-color: #533D38;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  text-align: left;
  text-indent: 1em;
  border: 2px solid #52241A;
}
